# labreserve timed revert for reservation by {{ reserved_by }} (expires {{ expires_at }})
{{ expires_at[14:16] }} {{ expires_at[11:13] }} {{ expires_at[8:10] }} {{ expires_at[5:7] }} * root /usr/local/lib/labreserve/revert.sh
