
##############################################################
#                   MACHINE RESERVED                         #
##############################################################

  Reserved by : {{ reserved_by }}
  Expires at  : {{ expires_at }}

  This machine is currently in use. Do not log in unless you
  are {{ reserved_by }} or have explicit permission.

  To release early, run on the jump box:
    labreserve release {{ inventory_hostname }}

##############################################################

